---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Anything different, we've got you covered</h1>
			<p>
				At the IEEE  Signal Processing Society CMRIT chapter at CMRIT, we are dedicated to advancing signal processing, image processing, and related technologies.
				We aim to provide knowledge, exposure and indutry level expertise through our events.
			</p>
			<p>
				Started in 2025, we believe in bringing students key-insights on the world of signal processing and engineering as a whole.
				Along with all the other societies of the IEEE CMRIT student branch, it is our responisbility to approach students and help them and understand the current technologies that is used our day-to-day life.
			</p>
			   <h2>What We Do</h2>
    <ul>
        <li>Host technical workshops and seminars</li>
        <li>Publish research posters and papers</li>
        <li>Connect students with industry professionals</li>
    </ul>

    <h2>Latest News</h2>
    <p>Check out our <a href="/blog">blog</a> for the latest updates and events.</p>
		</main>
		<Footer />
	</body>
</html>
